.body{
    font-weight: 400;
}

.span1{
    border: none;
    background-color:#26bba4;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    margin: 2px;
}
.span2{
    border: none;
    background-color:#6278fd;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    margin: 2px;
}

h1{
    font-size: 17px;
   
}
h2{
    font-size: 16px;
}
h3{
    font-size: 16px;
}